name: Create a comment on new issue

on:
  issues:
    types:
      - "opened"

jobs:
  comment_with_action:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: "dump github contex"
        run: echo '${{ toJson(github.event) }}' | jq
        shell: bash
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v3
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            This is a multi-line test comment
            - With GitHub **Markdown** :sparkles:
            - Created by [create-or-update-comment][1]

            [1]: https://github.com/peter-evans/create-or-update-comment
          reactions: '+1'